*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --font-family: "Aleo", serif;
}

    /* Home Section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 10%;
    background-color: white;
    position: fixed;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    z-index: 9999;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 8%;
    cursor: pointer;
}
.logo img{
    width:60px;
}
.logo h2{
    font-size: 36px;
    font-family: var(--font-family);
    font-weight: normal;
    margin-top: 10px;
}
.links{
    display: flex;
    gap: 25px;
    margin-right: 12%;
}
.links a{
    color:gray;
    text-decoration:none;
    font-size:18px;
}
.links :hover{
    color: black;
}
#home {
    background-image: url(../imgs/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:110vh;
}
.side-icons{
    width: 40px;
    height: 90px;
    background-color: white;
    border-radius: 5px 0 0 5px;
    position: fixed;
    z-index: 9999;
    top: 30%;
    right: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}
.side-icons i{
    display: block;
    text-align: center;
    font-size: 22px;
    padding: 10px 6px;
    color: gray;
    cursor: pointer;
}
.side-icons :hover{
    color: rgb(73, 73, 248);
}
.home-title{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80%;
    transform: translateY(25%);
}
.home-title p{
    font-size:22px;
    margin-bottom:20px;
    font-family: "Aleo", serif;
}
.home-title h1{
    font-size:70px;
    margin-bottom:20px;
    font-family: var(--font-family);
    font-weight: normal;
}
.btn1,
.btn2{
    font-size:16px;
    font-family: "Aleo", serif;
    border-radius:5px;
    cursor:pointer;
    margin:10px;
    margin-bottom: 65px;
}
.btn1{
    padding:20px 25px;
    background:#8e7754;
    color:white;
    border:none;
    transition: all 0.5s;
}
.btn2{
    padding:18px 25px;
    background:transparent;
    color:white;
    border:2px solid white;
    transition: all 0.5s;
}
.buttons :hover{
    background-color: white;
    color: black;
}
.loader {
  --color-1: #fff;
  --size: 1px;
  width: calc(33 * var(--size));
  height: calc(50 * var(--size));
  border: calc(2 * var(--size)) solid var(--color-1);
  position: relative;
  border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
}

.loader::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  width: calc(10 * var(--size));
  height: calc(10 * var(--size));
  background: var(--color-1);
  border-radius: 50%;
  animation: fadeDown 1s ease-out infinite;
}

@keyframes fadeDown {
  0% {
    top: 0%;
    opacity: 1;
  }
  100% {
    top: 60%;
    opacity: 0;
  }
}


    /* About Section */
.about{
    width: 80%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-image{
    width: 45%;
}

.about-image img{
    width: 100%;
}

.about-text{
    width: 50%;
}

.about-text h2{
    font-size: 36px;
    font-family: var(--font-family);
    font-weight: normal;
    margin-bottom: 25px;
}

.about-text p{
    color: gray;
    line-height: 30px;
    margin-bottom: 30px;
}

.item{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.item i{
    color: rgb(142, 117, 80);
    width: 40px;
    height: 40px;
    border: 2px solid #ddd;
    border-radius: 50%;
    margin-right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item span{
    color: gray;
}


    /* location Section */
.location{
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 70px;
}

.location-text{
    width: 40%;
}

.location-text h2{
    font-size: 32px;
    font-family: var(--font-family);
    font-weight: normal;
    margin-bottom: 25px;
    color: #303030;
}

.location-text p{
    color: #686868;
    line-height: 30px;
    margin-bottom: 20px;
}

.location-image{
    width: 40%;
}

.location-image img{
    width: 100%;
}


    /* Our Baking Section */
.baking{
    width: 80%;
    margin: 60px auto;
    text-align: center;
}

.baking h2{
    font-size: 32px;
    font-family: var(--font-family);
    font-weight: normal;
    color: #303030;
    margin-bottom: 30px;
}

.baking-text{
    color: #686868;
    margin-bottom: 60px;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 31%;
}

.card img{
    width: 100%;
}

.card h3{
    font-family: var(--font-family);
    font-weight: normal;
    margin: 20px 0;
    color: #303030;
}

.card p{
    color: #686868;
    line-height: 28px;
}


/* Contact Information Section */
.contact{
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 70px;
    font-family: "Aleo", serif;
}

.contact-text{
    width: 36%;
}

.contact-text h2{
    font-size: 32px;
    font-family: var(--font-family);
    font-weight: normal;
    color: #303030;
    margin-bottom: 30px;
}

.contact-text p{
    color: #686868;
    line-height: 30px;
    font-size:15px;
    margin-bottom:30px;
}

.icon{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.icon i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #8e7754;
    color: white;
    margin-right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon span{
    color: #686868;
}

.contact-map{
    width: 40%;
}

.contact-map img{
    width: 100%;
}


    /* Footer */
footer{
    background-color:#403d38;
}

.footer-top{
    width:80%;
    margin:auto;
    display:flex;
    justify-content:space-evenly;
    padding:60px 0;
}

.column{
    width:23%;
}

.column h3{
    color:white;
    margin-bottom:30px;
    font-family: var(--font-family);
    font-weight: normal;
}

.column p{
    color:#969696;
    line-height:30px;
    margin-bottom:10px;
}

.line{
    width: 90%;
    height: 1px;
    opacity: 0.4;
    background-color: #969696;
    margin-bottom: 12px;
}

.footer-bottom{
    background:#353330;
    text-align:center;
    padding:40px 0;
}

.footer-bottom img{
    width:33%;
}

.footer-bottom p{
    color:#969696;
    margin:20px 0;
}

.social-icons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social-icons a{
    width: 40px;
    height: 40px;
    background-color: #484540;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;
}

.social-icons i{
    color: #8c8a86;
    font-size: 18px;
    transition: 0.4s;
}

.social-icons a:hover i{
    color: white;
}

/* Facebook */
.social-icons a:nth-child(1):hover{
    background-color: #0A66C2;
}

/* Google */
.social-icons a:nth-child(2):hover{
    background-color: #DB4437;
}

/* LinkedIn */
.social-icons a:nth-child(3):hover{
    background-color: #1877F2;
}

/* Twitter */
.social-icons a:nth-child(4):hover{
    background-color: #1DA1F2;
}

/* Responsive */
@media (min-width:1400px){

    .container{
        width: 80%;
        margin: auto;
    }
}

@media (min-width:769px) and (max-width:992px){

    .about,
    .location,
    .contact{
        gap: 30px;
    }

    .cards{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .card{
        width: 45%;
    }

    .footer-top{
        flex-wrap: wrap;
    }

    .column{
        width: 45%;
        margin-bottom: 30px;
    }
}

@media (max-width:768px){

    .navbar{
        flex-direction: column;
        gap: 20px;
    }

    .links{
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .caption h1{
        font-size: 40px;
    }

    .caption p{
        width: 90%;
        font-size: 18px;
    }

    .about,
    .location,
    .contact{
        flex-direction: column;
    }

    .about-image,
    .about-text,
    .location-image,
    .location-text,
    .contact-map,
    .contact-text{
        width: 100%;
    }

    .cards{
        flex-direction: column;
        gap: 30px;
    }

    .card{
        width: 100%;
    }

    .footer-top{
        flex-direction: column;
    }

    .column{
        width: 100%;
        margin-bottom: 30px;
    }
}